.rotateArrow {
  transform: rotate(-45deg) scale(1);
  transition: transform 1.5s ease;
}

.cardProject:hover .rotateArrow {
  transform: rotate(0deg) scale(1.17);
  transition: transform 1.5s ease;
}
